.facets-facet-browse {
	@extend .container;
}

.facets-facet-browse-breadcrum {
	@extend .breadcrumb;
}

.facets-facet-browse-category {
	@extend .clearfix;
}
/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header
.facets-facet-browse-header {
	@extend .clearfix;
	padding: $sc-margin-lv1 0 $sc-margin-lv2;
	width: 100%;
}

.facets-facet-browse-title {
	@extend .list-header-title-ahead;

	@media (min-width: $screen-md-min) {
		margin-top: $sc-margin-lv1;
	}
}

.facets-facet-browse-title-alt {}

.facets-facet-browse-list-header {
	@extend .list-header;
	float: right;
	&-actions {
		/*background-color: blue;*/
		display: none;
	}
	&-filters {
		float: right;
	}
}
.facets-item-list-sort-selector,
.facets-item-list-show-selector {
	background-color: transparent;
    /*border: 2px solid #000;
    border-radius: 25px;*/
    font-weight: bold;
    color: #000;
}

.facets-facet-browse-list-header-actions {
	@extend .list-header-actions;
}

.facets-facet-browse-list-header-expander {
	@extend .list-header-expander;
}

.facets-facet-browse-list-header-expander-button {
	@extend .list-header-expander-button;
	margin-right: 0;
}

.facets-facet-browse-list-header-expander-icon {
	@extend .list-header-expander-icon;
}

.facets-facet-browse-list-header-filters {
	@extend .list-header-filters;
}

.facets-facet-browse-list-header-filters-wrapper {
	@extend .list-header-filters-wrapper;
}

.facets-facet-browse-list-header-filters-row {
	@extend .list-header-filters-row;
}

.facets-facet-browse-list-header-filter-column {
	@extend .list-header-filter-column;
}

.facets-facet-browse-list-header-filter-facets {
	@extend .list-header-filter-facets;
	border-radius: 0;
	padding: $sc-padding-lv2;

	.facets-facet-browse-list-header-filter-facets-icon {
		@extend .list-header-filter-facets-icon;
		font-size: 22px;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header main content layout

.facets-facet-browse-content,
.facets-facet-browse-empty-items {
	@extend .clearfix;
}

.facets-facet-browse-facets-sidebar
{
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.facets-faceted-navigation-item-cateogry
{
	padding-right: $sc-padding-lv3;
}

.facets-faceted-navigation-item-cateogry .facets-faceted-navigation-item-facet-group-expander-icon
{
	line-height: 66px + $sc-padding-lv6;
}

.facets-facet-browse-facets {
	@extend .col-md-3;
	@include box-shadow(0 0 6px $sc-color-secondary);
	padding: 0;
	/*background-color: $sc-color-background-light;*/
	overflow-x:hidden;

	@media (min-width: $screen-md-min) {
		@include box-shadow(none);
		overflow:hidden;
		padding: 0;
		width: 23%;
		margin-right: 1%!important;
		/*background-color: $sc-color-background-light;*/
	}
	.facet-navigation-top {
		background: $sc-color-background-global;
		padding: 16px;
		h2 {
			font-size: 2rem;
			font-weight: bold;
			padding-top: 10px;
		}
	}
	.data-cms-area {
		background-color: $sc-color-background-global;
	}
}

.facets-facet-browse-facets[data-pusher="sc-pushable-md"] .sc-pusher-header {
  margin-left: 0px;
}

.facets-facet-browse-results {
	@extend .col-md-9;
	padding: $sc-margin-lv4 0!important;
	background-color: transparent;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Items

.facets-facet-browse-items .backbone-collection-view-row {
	margin-bottom: $sc-margin-lv4;

	//the margin is only for the first backbone-collection-view-row
	.backbone-collection-view-row {
		margin-bottom: 0;
	}
}

.facets-facet-browse-items .item-view-stock-msg-description {
	margin-top:0;
}

.facets-facet-browse-narrowedby {
	padding-top: 0;
	padding-bottom: 0;
	text-transform: capitalize;
	line-height: 35px;
	}
.facets-facet-browse-items > div {
	display: flex;
    margin: 0;
    padding: 0;
    @media (max-width: $screen-sm-min) {
    	/*background: red;*/
    	flex-direction: row;
    	justify-content: space-around;
    	}
	}
.facets-facet-browse-items {

	.item-cell-price {
		margin-bottom: $sc-margin-lv2;
	}

	.item-cell-image {
		max-width: 100%;
		max-height: 100%;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Pagination

.facets-facet-browse-pagination {
	float: right;
	margin-bottom: $sc-margin-lv8;
}

.facets-facet-browse-banner-section-bottom {
	clear: both;
}

.facets-facet-browse-cms-area-2 {
	@extend .col-md-9;
	@extend .col-md-offset-3;
}

.facets-items-collection-view-row {
	display: flex;
	flex-basis: 33.3333%;
  justify-content: flex-start;
	.facets-item-cell-table {
		display: flex;
		flex-flow: column;
		&-content-wrapper {
			width: 90%;
			margin: 0 auto;
		  	display: flex;
			flex-direction: column;
				h2 {flex: 1;}
				.facets-item-cell-table-desc {
					border-top: 1px solid $sc-color-secondary;
					padding-top: 10px;
				}
			}
		&:hover {
			background-color: #282828;
			}
		}
	}
